In [1]:
import numpy as numpy
import pandas as pd

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer()

In [3]:
corpus=[
    'This is the first document.',
    'This document is the second document.',
    'And this is the third document.'
]

In [4]:
x=vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names_out())
print(x.toarray())

['and' 'document' 'first' 'is' 'second' 'the' 'third' 'this']
[[0.         0.38161415 0.64612892 0.38161415 0.         0.38161415
  0.         0.38161415]
 [0.         0.63671194 0.         0.31835597 0.53902351 0.31835597
  0.         0.31835597]
 [0.54270061 0.32052772 0.         0.32052772 0.         0.32052772
  0.54270061 0.32052772]]

In [6]:
df=pd.read_csv('train.csv')
df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [7]:
df["text"]=df["text"].fillna("")
vectorizer=TfidfVectorizer(max_features=1000)
vectorizer.fit(df['text'])
tf_idf_data_frame=pd.DataFrame(vectorizer.transform(df['text']).toarray(),columns=vectorizer.get_feature_names_out())
print(tf_idf_data_frame.head())

    10  100   11   12   15  1st   20  2day   30  4th  ...  yet   yo       you  \
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.000000
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.231528
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.000000
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.000000
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.000000

   your  yours  yourself  youtube  yum  yummy   Â½m
0   0.0    0.0       0.0      0.0  0.0    0.0  0.0
1   0.0    0.0       0.0      0.0  0.0    0.0  0.0
2   0.0    0.0       0.0      0.0  0.0    0.0  0.0
3   0.0    0.0       0.0      0.0  0.0    0.0  0.0
4   0.0    0.0       0.0      0.0  0.0    0.0  0.0

[5 rows x 1000 columns]

In [9]:
import nltk
import string
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [10]:
nltk.download('punkt')
nltk.download('punkt_tab')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [11]:
review1="Yesterday movie is very fantastic ,it is great to see the latest version of the latest release."
review2="The latest release is available at ibomma website ,it will be released soon."

In [12]:
def preprocess_text(text):
    tokenize=word_tokenize(text)
    tokenize=[word.lower() for word in tokenize]
    stop_words=set(stopwords.words("english"))
    tokenize=[word for word in tokenize if word not in stop_words]
    lemmatizer=WordNetLemmatizer()
    tokenize=[lemmatizer.lemmatize(word) for word in tokenize]
    return " ".join(tokenize)

In [13]:
a=preprocess_text(review1)
b=preprocess_text(review2)
print(a)
print(b)

yesterday movie fantastic , great see latest version latest release .
latest release available ibomma website , released soon .

In [14]:
vectorizer=TfidfVectorizer()
vectors=vectorizer.fit_transform([a,b])
print(vectors.toarray())

[[0.         0.342369   0.342369   0.         0.48719673 0.342369
  0.24359836 0.         0.342369   0.         0.342369   0.
  0.342369  ]
 [0.4078241  0.         0.         0.4078241  0.29017021 0.
  0.29017021 0.4078241  0.         0.4078241  0.         0.4078241
  0.        ]]

In [15]:
cosin_sim=cosine_similarity(vectors[0],vectors[1])[0][0]
print(round(cosin_sim,3))

0.212

In [16]:
import pandas as pd
df=pd.read_csv("train.csv")
df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [17]:
df.shape

(27481, 4)

In [18]:
df['text1_clean']=df['text'].astype(str).apply(preprocess_text)
df['text2_clean']=df['selected_text'].astype(str).apply(preprocess_text)
df.head()

,textID,text,selected_text,sentiment,text1_clean,text2_clean
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,"` responded , going","` responded , going"
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,sooo sad miss san diego ! ! !,sooo sad
2,088c60f138,my boss is bullying me...,bullying me,negative,bos bullying ...,bullying
3,9642c003ef,what interview! leave me alone,leave me alone,negative,interview ! leave alone,leave alone
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,"son * * * * , ` put release already bought","son * * * * ,"

In [19]:
vectorizer=TfidfVectorizer()
tfidf_matrix1=vectorizer.fit_transform(df['text1_clean'])
tfidf_matrix2=vectorizer.transform(df['text2_clean'])

In [21]:
cosine_similarities=cosine_similarity(tfidf_matrix1,tfidf_matrix2)
df['cosine_similarity']=cosine_similarities.diagonal()
df.head()

,textID,text,selected_text,sentiment,text1_clean,text2_clean,cosine_similarity
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,"` responded , going","` responded , going",1.000000
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,sooo sad miss san diego ! ! !,sooo sad,0.535921
2,088c60f138,my boss is bullying me...,bullying me,negative,bos bullying ...,bullying,0.791472
3,9642c003ef,what interview! leave me alone,leave me alone,negative,interview ! leave alone,leave alone,0.763914
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,"son * * * * , ` put release already bought","son * * * * ,",0.473126

In [27]:
def jaccab_similarity(text1,text2):
    words1=set(text1.split())
    words2=set(text2.split())
    intersection=words1.intersection(words2)
    union=words1.union(words2)
    if len(union) == 0:
        return 0
    jaccab_sim=len(intersection)/len(union)
    return jaccab_sim

In [28]:
df['jaccab_similarity']=df.apply(lambda row: jaccab_similarity(row['text1_clean'],row['text2_clean']),axis=1)
df.head()

,textID,text,selected_text,sentiment,text1_clean,text2_clean,cosine_similarity,jaccab_similarity
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,"` responded , going","` responded , going",1.000000,1.000000
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,sooo sad miss san diego ! ! !,sooo sad,0.535921,0.333333
2,088c60f138,my boss is bullying me...,bullying me,negative,bos bullying ...,bullying,0.791472,0.333333
3,9642c003ef,what interview! leave me alone,leave me alone,negative,interview ! leave alone,leave alone,0.763914,0.500000
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,"son * * * * , ` put release already bought","son * * * * ,",0.473126,0.375000